<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/cart.css">
  <link rel="stylesheet" href="/css/favorites.css">
  <link rel="stylesheet" href="/css/users.css">
  <title>Web</title>
</head>

<body>

  <%- include('nav') %>

  <main class="main">
    
    <%- include('side-nav') %>

    <section class="container" id="app">