<nav class="nav">
  <button class="openNav-button nav-button">&#9776;</button>
  <div class="nav-top">
    <a href="/">Home</a>
    <a href="/products">Shop</a>
    <a href="/users">Users</a>
    <input placeholder="Buscar..." class="nav-container-item" id="search-input" type="search">
    <div id="search-button" class="search-button">
      &#128270;
    </div>
  </div>
  <a href="/cart" class="cartButton">
    &#128722;
    <div class="quantityProducts" id="quantityProducts">0</div>
  </a>
</nav>