<div id="nav-container">
  <div class="nav-container">
    <div class="closeButton-container">
      <button class="openNav-button closeButton">&#10060;</button>
    </div>
    <input placeholder="Buscar..." class="nav-container-item" id="search-input-s" type="search">
    <div id="search-button-s" class="search-button">
      &#128270;
    </div>
    <a class="nav-container-item" href="/">Home</a>
    <a class="nav-container-item" href="/products">Shop</a>
  </div>
  <a class="nav-container-item" href="/#inicio">Inicio</a>
  <a class="nav-container-item" href="/#about-us">Sobre Nosotros</a>
  <a class="nav-container-item" href="/#contact">Contáctanos</a>
</div>