<%- include('partials/header') %>

<div class="cartTitle">
  <h1>Bienvenido al Carrito</h1>
</div>
<div class="tableContainer">
  <table>
    <thead>
      <tr>
        <th>Concepto</th>
        <th>Categorías</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tBodyFavorites"></tbody>
  </table>
</div>

<%- include('partials/footer') %>