<%- include('partials/header') %>

<h1 class="products-header">Productos</h1>
<div class="products" id="products">
  <%- productsHTML %>
  <div class="paginator">
    <%- paginatorHTML %>
  </div>
</div>

<%- include('partials/footer') %>