.products-header {
    margin-top: 40px;
}

section h1 {
    margin-top: 0;
    color: rgba(92,168,103,1);
}

.products {
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.product-card {
    padding-inline: 1%;
    flex: 1 16%;
    display: flex;
    flex-direction: column;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-info h5 {
    margin-top: 10px;
    margin-bottom: 0;
}

.product-info h6 {
    margin-top: 10px;
    font-style: italic;
    padding-left: 10px;
}

.product-info > h5 > a {
    color: inherit;
}

.products .product-card:first-child, 
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.paginator a {
    background: rgb(92,168,103);
    padding: 5px;
    margin-inline: 10px;
    border-radius: 5px;
}

.paginator a.active {
    background-color: green;
}

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
      display: flex;
    }
}

@media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
      display: flex;
    }

    .product {
        flex-wrap: wrap;
    }
}